/*
 * Define styles for global application component.
 */

:root {
    --backgroundColor: #282828;
    --foregroundColor: #B872FF;
    --borderColor: var(--foregroundColor);
    --backgroundComponentColor: #353535;
}

.app-view {
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 13fr 1fr;
}

.app-view-card {
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
}

.app-view-chart {
    background-color: var(--backgroundComponentColor);
    border: 2px solid var(--borderColor);
    width: 95%;
    height: 90%;
    display: grid;
    justify-self: center;
    align-self: center;
}

.app-view-footer {
    grid-column: 1 / 3;
    display: grid;
    justify-content: center;
    align-items: center;
}

#app-view-footer-text {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#app-view-footer-text > a {
    cursor: pointer;
    text-decoration: none;
}

#app-view-footer-text > a > span {
    text-decoration: underline;
    color: var(--foregroundColor);
}

@media screen and (max-width: 1200px) {
    .app-view-card, .app-view-chart {
        width: 95%;
        height: 95%;
    }

    .app-view {
        height: 200vh;
        grid-template-rows: min-content 1fr 0.05fr;
        grid-template-columns: unset;
    }

    .app-view-footer {
        grid-column: unset;
    }

    .app-view-chart {
        grid-row: 2 / 2;
    }
}